In [4]:
# !pip install pydotplus --user

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from IPython.display import Image
from sklearn.tree import export_graphviz
# import pydotplus
from sklearn import preprocessing

In [10]:
featuresNuevas = pd.read_csv('features_generadas.csv')
users = pd.read_pickle('users.pkl')

In [13]:
# users = users[['Cat', 'default_profile', 'description', 'geo_enabled', 'lang', 'listed_count', 'location', 'name', 'profile_background_color', 'profile_background_image_url', 'profile_background_image_url_https', 'profile_background_tile', 'profile_banner_url', 'profile_image_url', 'profile_image_url_https', 'profile_link_color', 'profile_sidebar_border_color', 'profile_sidebar_fill_color', 'profile_text_color', 'profile_use_background_image', 'screen_name', 'url','favs_tiempo','followers_tiempo', 'statuses_tiempo','friends_tiempo']]
display(users.head())
print(users.columns)

,Cat,bot,crawled_at,created_at,default_profile,description,favourites_count,followers_count,friends_count,geo_enabled,...,profile_use_background_image,screen_name,statuses_count,test_set_1,test_set_2,time_zone,timestamp,updated,url,utc_offset
0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
1,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
2,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
3,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
4,SocialSpambot,True,2014-05-11 23:22:23,Wed Aug 05 21:12:49 +0000 2009,0.0,True,162.0,413.0,405.0,True,...,True,FabrizioC_c,20218.0,1.0,NaN,Rome,2009-08-05 23:12:49,2016-03-15 14:17:05,True,7200.0

Index(['Cat', 'bot', 'crawled_at', 'created_at', 'default_profile',
       'description', 'favourites_count', 'followers_count', 'friends_count',
       'geo_enabled', 'id', 'lang', 'listed_count', 'location', 'name',
       'profile_background_color', 'profile_background_image_url',
       'profile_background_image_url_https', 'profile_background_tile',
       'profile_banner_url', 'profile_image_url', 'profile_image_url_https',
       'profile_link_color', 'profile_sidebar_border_color',
       'profile_sidebar_fill_color', 'profile_text_color',
       'profile_use_background_image', 'screen_name', 'statuses_count',
       'test_set_1', 'test_set_2', 'time_zone', 'timestamp', 'updated', 'url',
       'utc_offset'],
      dtype='object')

In [22]:
display(featuresNuevas.head())
print(featuresNuevas.columns)

,user_id,user_id.1,bot,Cat,tweetsCount,semanas,lun,mar,mie,jue,...,num_mentions_mean,num_mentions_median,num_mentions_std,num_mentions_fq,num_mentions_tq,reply_count_mean,reply_count_median,reply_count_std,reply_count_fq,reply_count_tq
0,678033.0,678033.0,False,Humans,3195,27,20.560000,24.320000,19.560000,18.200000,...,9019.780220,10000.0,8720.070307,0.0,10000.0,0.0,0.0,0.0,0.0,0.0
1,722623.0,722623.0,False,Humans,3201,89,6.678571,5.069767,6.321429,5.602273,...,5439.727066,0.0,6453.941616,0.0,10000.0,0.0,0.0,0.0,0.0,0.0
2,755116.0,755116.0,False,Humans,3209,30,11.423077,16.666667,18.464286,31.448276,...,9337.349398,10000.0,10512.287386,0.0,20000.0,0.0,0.0,0.0,0.0,0.0
3,755746.0,755746.0,False,Humans,3234,91,5.046512,5.227273,6.726190,5.116279,...,6102.096011,10000.0,6578.193523,0.0,10000.0,0.0,0.0,0.0,0.0,0.0
4,785080.0,785080.0,False,Humans,3235,23,24.000000,19.285714,27.047619,31.631579,...,7184.534271,10000.0,8842.028988,0.0,10000.0,0.0,0.0,0.0,0.0,0.0

Index(['user_id', 'user_id.1', 'bot', 'Cat', 'tweetsCount', 'semanas', 'lun',
       'mar', 'mie', 'jue', 'vie', 'sab', 'dom', 'times_mean', 'times_median',
       'times_std', 'times_fq', 'times_tq', 'timesRT_mean', 'timesRT_median',
       'timesRT_std', 'timesRT_fq', 'timesRT_tq', 'timesUser_mean',
       'timesUser_median', 'timesUser_std', 'timesUser_fq', 'timesUser_tq',
       'favorite_count_mean', 'favorite_count_median', 'favorite_count_std',
       'favorite_count_fq', 'favorite_count_tq', 'retweet_count_mean',
       'retweet_count_median', 'retweet_count_std', 'retweet_count_fq',
       'retweet_count_tq', 'num_mentions_mean', 'num_mentions_median',
       'num_mentions_std', 'num_mentions_fq', 'num_mentions_tq',
       'reply_count_mean', 'reply_count_median', 'reply_count_std',
       'reply_count_fq', 'reply_count_tq'],
      dtype='object')

In [19]:
users = users[~users.id.isna()]
len(users)

2183

In [21]:
len(featuresNuevas)

5995

In [24]:
usuariosFinal = users.merge(featuresNuevas, left_on='id', right_on='user_id', how='inner')
print(len(usuariosFinal))
usuariosFinal.head()

2183

,Cat_x,bot_x,crawled_at,created_at,default_profile,description,favourites_count,followers_count,friends_count,geo_enabled,...,num_mentions_mean,num_mentions_median,num_mentions_std,num_mentions_fq,num_mentions_tq,reply_count_mean,reply_count_median,reply_count_std,reply_count_fq,reply_count_tq
0,SocialSpambot,True,2014-05-11 23:22:23,Wed Aug 05 21:12:49 +0000 2009,0.0,True,162.0,413.0,405.0,True,...,3031.628533,0.0,5588.401791,0.0,10000.0,0.0,0.0,0.0,0.0,0.0
1,SocialSpambot,True,2014-04-22 23:20:09,Sat Dec 12 22:53:04 +0000 2009,0.0,True,55.0,134.0,401.0,True,...,106.018085,0.0,1111.943027,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,SocialSpambot,True,2014-06-07 23:23:32,Wed Jan 27 16:51:00 +0000 2010,0.0,True,655.0,337.0,630.0,True,...,1984.231275,0.0,4857.998108,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,SocialSpambot,True,2014-06-09 23:20:04,Wed Jan 12 08:36:08 +0000 2011,0.0,True,0.0,4772.0,5167.0,False,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,SocialSpambot,True,2014-06-09 23:20:37,Wed Jan 12 11:31:54 +0000 2011,0.0,True,0.0,5505.0,5701.0,False,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0